title: "L{3,4}"
author: "Léo Le Lonquer"
lang: "fr"
excerpt_separator: <!--more-->
date_format: "%B %d, %Y"
default_description: "L{3,4}: Le blog de Léo"
default_thumbnail: "/assets/images/thumbnail-default.jpg"
mathjax: true
url: https://leolelonquer.github.io/

exclude:
  - Gemfile
  - Gemfile.lock
  - .obsidian/
#url: https://leolelonquer.github.io/

# Menu
# navigation:
#   - {file: "pages/dev.html"}
#   - {file: "pages/ressources.md"}
#   - {file: "pages/cv.html"}


navigation:
  - {title: "Ordinateur"}
  - {title: "Carnet"}
  - {title: "Carte"}
  - {title: "Post-it"}
  #- {file: "pages/ressources.md"}
  # - {file: "pages/amis.md"}
  # - {file: "pages/cv.html"}

defaults:
  - scope:
      path: ""
    values:
      image: /assets/images/thumbnail-default.jpg


# defaults:
#   -
#     scope:
#       path: ""      # empty string for all files
#       type: posts   # limit to posts
#     values:
#       is_post: true # automatically set is_post=true for all posts

#- {icon: "fa-home", sidebaricon: "fa-home", title: "Accueil", url: "/"}
  
#  - {file: "index.html"}


external:                  # shows a footer with social links - for available icons see fontawesome.com/icons
  - {title: Mail, icon: envelope, url: "mailto:leolelonquer@protonmail.com"}
  - {title: Github, icon: github, url: "https://github.com/LeoLeLonquer"}
  - {title: Subscribe, icon: rss, url: "/feed.xml"}


permalink: /:categories/:title
# permalink: /:year/:month/:day/:title.html
# Pagination Settings
pagination:
  enabled: true
  per_page: 10
  permalink: /:num/
  title: ':title - :num / :max'
  sort_field: 'date'
  sort_reverse: true
  trail: 
    before: 2
    after: 2

#comments:
#  disqus_shortname: ""    # see https://disqus.com/
#  isso_domain: ""         # see https://posativ.org/isso/

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate-v2
